*{
    margin:0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_TanviTheGreat/35182755-0e16-499a-bd88-697e1419737c._UR3840,1440_SX1080_FMavif_PQ65_.jpeg");
    background-size: cover;
    
}


.display-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: start;
}
.align-items-end{
    align-items: end;
}
nav{
    width: 1800px;
    background-color: black;
}


.join-btn{
    background-color: rgb(57, 57, 176);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.left-nav  img{
      width: 110px;
      margin-right: 20px;
}
nav a{
    color: white; 
    text-decoration: none;
    padding: 10px 10px;
    letter-spacing: 1px;
}
nav a:hover{
    color: black;
    background-color: white;
    border-radius: 6px;
}
.sub{
    margin-left: 20px;
}
.join-btn{
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 80px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    margin-left: 20px;
}
.join-btn:hover{
    background-color: blue;
    box-shadow: blue 0px 3px 20px;
}
.ri-account-circle-line{
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
}
.ri-account-circle-line:hover{
    background-color: white;
    color: black;
}

.prime-sec{
    width: 100px;
   margin-left: 20px;
}
.logo-sec{
    width: 350px;
    margin-left: 20px;
}
.text-sec{
    color: white;
    margin-left: 20px;
    width: 1100px;
}
.joinprime-btn{
    background-color: darkgray;
    color: black;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}
.plus-btn{
    background-color: darkgray;
    color: black;
    border-radius: 50px;    
}
.info-btn{
    background-color: darkgray;
    color: black;
    border-radius: 50px;
}
.watch-sec{
    color: white;
    margin-left: 20px;
}
.watch-sec i{
    color: goldenrod;
}
.move-box{
    display: flex; 
}
.move-box img{
    height: 240px;
    transition:transform 0.5s ease ;
    margin: 0px 10px;
}
.move-box1:hover{
    transform: scale(1.1);
}
.move-box2:hover{
    transform: scale(1.1);
}
.move-box3:hover{
    transform: scale(1.1);
}
.move-box4:hover{
    transform: scale(1.1);
}
.move--box{
    display: flex;
}
.move--box img{
    height: 240px;
    transition:transform 0.5s ease ;
    margin: 0px 10px; 
}
.move--box1:hover{
    transform: scale(1.1);
}
.move--box2:hover{
    transform: scale(1.1);
}
.move--box3:hover{
    transform: scale(1.1);
}
.move--box4:hover{
    transform: scale(1.1);
}

.top-10{
    color: white;
}
      
.move-box-1{

    color: white;
    height: 240px;
    width: 600px;
    position: relative;
    display: flex;
    align-items: center;  
     transition:transform 0.5s ease ;

}
.move-box-1:hover{
    transform: scale(1.1);
}
.number{
    height: 60px;
    width: 60px;
}
.poster{
    height: 170px;
    width: 300px;
    position: absolute;
    left: 55px;
    color: rgba(225,225, 225 ,0.25);
    box-shadow: 20px 0 30px rgba(0, 0, 0 ,0.9),-40px 0 50px rgba(0, 0, 0 ,0.7);
    border-radius: 6px;
     
}

.main-box-move{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
}
.move-list{
    display: flex;
    overflow: auto;
    stroke-width: none;
    scroll-behavior: smooth;
}
.language-box{
  position: absolute;
  Height: 420px;
  font-weight: 600;
  width: 600px;
  top: 55px;
    opacity: 0;
  right: 0;
  background-color: rgb(43, 42, 42);
  color: white;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-items:center;
  border-radius: 8px;
  visibility: hidden;
  
}
.language-dropdown{
  position: relative;
}
.language-box span{
  padding: 8px 15px;
  border-radius: 6px;

}
.language-box span:hover{
  background-color: white;
  color: rgb(0, 0, 9);
}
.language-dropdown:hover .language-box{
  visibility:visible;
  opacity: 1;
}
.right-nav{
    display: flex;
}